
@{
    ViewBag.Title = "MsgSuccess";
}

<div class="page msg_success js_show" style="padding-top:50px">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">预约成功</h2>
            <p class="weui-msg__desc">感谢您的预定，我们会为您精心准备更美味营养的美食</p>
        </div>
        
     <div class="weui-msg__opr-area">
         <p class="weui-btn-area">
             <a href="/UserOrderInfoes/Cancel" class="weui-btn weui-btn_primary">取消预约</a>
         </p>
     </div>
    

        <div class="weui-footer weui-footer_fixed-bottom">
            <p class="weui-footer__links">
                <a href="/Orders/Index" class="weui-footer__link">预约管理</a>
            </p>
            <p class="weui-footer__text">&nbsp;</p>
        </div>
    </div>
</div>

